main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: color gray;
}

header{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/4;
    
}
.delta_img{
    display: grid;
    grid-column: 1/2;
}
.header_par1{
    display: grid;
    display: grid;
    grid-column: 1/2;
    background-color: gray;
}
.header_par2{
    display: grid;
    grid-column: 3/4;
}

.row1{ 
    grid-row: 2/3;
    display: grid ;
    grid-template-columns: repeat(3,auto);
}

.row2{
    grid-row: 3/4;
    display: grid ;
    grid-template-columns: repeat(3,auto);  
}

.row3{
    grid-row: 4/5;
    display: grid ;
    grid-template-columns: repeat(3,auto);
}

footer{
    grid-row: 5/6;
    display: grid ;
    grid-template-columns: repeat(3,auto);
}

/*@media only screen and (min-width: 768px){
    #navigation {
        width: 800px;
        margin: 16px auto;
    }
}